/* assets/fonts.css (MODIFIÉ) */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400; /* Italic (utilisera le Regular et l'inclinera) */
  src: url('assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('assets/fonts/Inter_24pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800; /* ExtraBold */
  src: url('assets/fonts/Inter_24pt-ExtraBold.ttf') format('truetype');
}